/* .forecast-title {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  text-shadow: 2px 2px var(--tone2);
  font-weight: 900 bold;
}

.forecast-cards {
  display: flex;
  justify-content: space-around;
  margin: 25px 100px 25px 100px;
}

.forecast-cards img {
  height: 250px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.detai-page-container {
  display: flex;
  align-items: center;
}

.video-background video {
  position: absolute;
}

.detail-forecast-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.both-sides {
  display: flex;
  justify-content: space-between;
  width: 25vw;
}

.both-sides h5 {
  margin: 10px 0 10px 0;
}

.detail-forecast {
  margin-top: 33vh;
  font-weight: 900;
  color: var(--tone6);
}

.detail-forecast-night {
  margin-top: 33vh;
  font-weight: 900;
  color: white;
}
